#heading1{
    text-align: center;
}
.paragraph{
    font-family: "Dejavu sans mono";
    font-size: 18px;
}
#mydivision{
    background-color: dodgerblue;
    margin: 40px;
    padding: 30px;
    color: white;
}
#test{
    background-color: lightslategray;
    margin: 40px;
    padding: 40px;
    display: flex;
    color: white;
}

#test img{
    margin-right: 40px;
    border-radius: 400px;
}

#main{
    display: flex;
}

#advertisement{
    background-color: #ef0c13;
    color: white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px gray;
}
#accounting{
    background-color: #0c7eef;
    color: white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px gray;
}
#payment{
    background-color: darkgreen;
    color: white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px gray;
}
#advertisement:hover, #accounting:hover, #payment:hover{
    background-color: lightslategray;
}